# LaTeX 编译中间文件
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz
*.xdv

# 编译输出目录
build/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE
.vscode/
.idea/

embedding/
script/
.vscode/
asset/概率论与数理统计 第五版 (盛骤 , 谢式千 , 潘承毅) .pdf
asset/概率论及其应用（卷1·第3版） (\[美] 威廉·费勒) .pdf
